@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.font-body {
    font-family: 'Lato', sans-serif;
}

.font-display {
    font-family: 'Montserrat', sans-serif;
}

body {
    @apply font-body;
}

h1,h2,h3,h4,h5,h6 {
    @apply font-display;
}

.img-me {
    width: 12rem;
    margin-right: 5rem;
    border-radius: 50%;
    transition: all .3s;

    &:hover {
        border-radius: 0;
    }
}

.link {
    @apply text-blue-500;
    vertical-align: middle;
    
    &:hover {
        @apply text-blue-700;
        @apply underline;
    }
}

.heading-2 {
    @apply text-2xl;
    @apply font-bold;
    @apply text-gray-700;
    @apply mb-5;
}
